@model Trisatech.KampDigi.Application.Models.PostModel
@{
    ViewData["Title"] = "Edit Thread";
    int i = 0;
    Layout = "_BaseTemplate";
}



@* <div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header" id="kt_modal_add_user_header">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success text-center" role="alert">
                @ViewBag.Message
            </div>
        }
        <!--begin::Modal title-->
        <h2 class="fw-bolder">Edit User</h2
        <!--end::Modal title-->
        <!--begin::Close-->
        
        <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
        <!--begin::Form-->
        <form asp-action="Edit" class="form fv-plugins-bootstrap5 fv-plugins-framework">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--begin::Scroll-->
            <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px" style="max-height: 108px;">
                <!--begin::Input group-->
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <!--begin::Image input-->
                    <div class="fv-row mb-7">
													<div class="image-input image-input-outline"
														data-kt-image-input="true"
														style="background-image: url(~/assets/media/avatars/blank.png)">
																
																<img src="@Model.ImageSrc" alt="" class="w-12 h-12">
																<!--end::Preview existing avatar-->
																<!--begin::Label-->
														<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
																	<i class="bi bi-pencil-fill fs-7"></i>
																	<!--begin::Inputs-->
															<input type="file" name="avatar"
																accept=".png, .jpg, .jpeg" />
																	<input type="hidden" name="avatar_remove" />
																	<!--end::Inputs-->
														</label>
																<!--end::Label-->
																<!--begin::Cancel-->
														<span
															class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
															data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
															title="Cancel avatar">
																	<i class="bi bi-x fs-2"></i>
																</span>
																<!--end::Cancel-->
																<!--begin::Remove-->
														<span
															class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
															data-kt-image-input-action="remove" data-bs-toggle="tooltip"
															title="Remove avatar">
																	<i class="bi bi-x fs-2"></i>
																</span>
																<!--end::Remove-->
													</div>
															<!--end::Image input-->
															<!--begin::Hint-->
													<div class="form-text">Allowed file types: png, jpg, jpeg.</div>
															<!--end::Hint-->
												</div>
														<!--end::Input group-->
                    <!--begin::Label-->
                    <label class="required fw-bold fs-6 mb-2">Title</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input asp-for="Title" type="text" disabled class="form-control form-control-solid mb-3 mb-lg-0" value="@Model.Title">
                    <!--end::Input-->
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <!--begin::Label-->
                    <label class="required fw-bold fs-6 mb-2">Post Subject</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input asp-for="PostSubject" type="text" disabled class="form-control form-control-solid mb-3 mb-lg-0" value="@Model.PostSubject">
                    <!--end::Input-->
                    <!--begin::Input group-->
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <!--begin::Label-->
                    <label class="required fw-bold fs-6 mb-2">Description</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input asp-for="Desc" type="text" disabled class="form-control form-control-solid mb-3 mb-lg-0" value="@Model.Desc">
                    <!--end::Input-->
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                </div>
                <!--end::Input group-->
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                </div>
                <!--end::Input group-->
            </div>
            <!--end::Scroll-->
            <!--begin::Actions-->
            <div class="text-center pt-15">
                <a asp-action="Index" class="btn btn-light">Cancel</a>
                <button type="submit" class="btn btn-primary">
                    <span class="indicator-label">Submit</span>
                </button>
            </div>
            <!--end::Actions-->
            <div></div>
            <div></div>
        </form>
        <!--end::Form-->
    </div>
    <!--end::Modal body-->
</div> *@

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit</h4>
            <form asp-controller="Post" asp-action="Edit" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" class="form-control">
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" type="file" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-grup">
                    <img src="@Model.ImageSrc" height="100px" />
                </div>
                <div class="form-group">
                    <label asp-for="Title" for="exampleInput2"></label>
                    <input class="form-control" id="exampleInput2" asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostSubject" for="exampleInput1"></label>
                    <input class="form-control" id="exampleInput1" asp-for="PostSubject">
                    <span asp-validation-for="PostSubject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc" for="exampleInput3"></label>
                    <input class="form-control" id="exampleInput3" asp-for="Desc">
                    <span asp-validation-for="Desc" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
               <label class="control-label">Type</label>
               <input type="hidden" id="type" value="@Model.Type">
               <select name="Type">
                    <option value="@Trisatech.KampDigi.Domain.Entities.PostType.Announcement">Informasi</option>
                    <option value="@Trisatech.KampDigi.Domain.Entities.PostType.Forum">Forum</option>
                    <option value="@Trisatech.KampDigi.Domain.Entities.PostType.Public">Publik</option>
                    <option value="@Trisatech.KampDigi.Domain.Entities.PostType.Report">Lapor</option>
                    
               </select>
            </div>
                <button type="submit" class="btn btn-primary me-2">Edit</button>
            </form>
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </div>
</div>