@using Trisatech.KampDigi.Domain.Entities
@model Trisatech.KampDigi.Application.Models.ResidenceModel;

@{
   Layout = "_BaseTemplate";
}

<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container">
   <!--begin::Post-->
   <div class="content flex-row-fluid" id="kt_content">
      <!--begin::About card-->
      <div class="card">
         <!--begin::Body-->
         <div class="card-body p-lg-17">
            <!--begin::About-->
            <div class="mb-18">
               <!--begin::Wrapper-->
               <div class="mb-10">
                  <!--begin::Top-->
                  <div class="text-center mb-15">
                     <!--begin::Title-->
                     <h3 class="fs-2hx text-dark mb-5">@Model.Name</h3>
                     <!--begin::Toolbar-->
                     <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                        <!--begin::Add user-->
                        <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top"
                           data-bs-trigger="hover" title="Klik untuk Edit">
                           <a asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-sm btn-warning">
                              <!--begin::Svg Icon | path: assets/media/icons/duotone/Home/Home2.svg-->
                              <!--begin::Svg Icon | path: assets/media/icons/duotone/Design/Edit.svg-->
                              <span class="svg-icon-muted"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="20px" height="20px" viewBox="0 0 20 20" version="1.1">
                                    <path
                                       d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
                                       fill="#000000" fill-rule="nonzero"
                                       transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1" />
                                 </svg></span>
                           </a>
                        </div>
                        <!--end::Add user-->
                     </div>
                     <!--end::Toolbar-->
                     <!--end::Title-->
                     <!--begin::Text-->
                     <div class="fs-5 text-muted fw-bold">@Model.Address</div>
                     <!--end::Text-->
                  </div>
                  <!--end::Top-->
                  <!--begin::Overlay-->
                  <div class="overlay">
                     <!--begin::Image-->
                     <img class="w-100 card-rounded" src="~/assets/media/@Model.ImageUrl" alt="img" />
                     <!--end::Image-->
                  </div>
                  <!--end::Container-->
               </div>
               <!--end::Wrapper-->
            </div>
            <!--end::About-->
            <!--begin::Statistics-->
            <div class="card mb-18">
               <!--begin::Body-->
               <div class="card-body py-15">
                  <div class="border border-secondary p-4">
                     <div class="row">
                        <div class="col-6 ">
                           <div class="row">
                              <div class="col-4">
                                 <p class="card-text">Google Map Link</p>
                                 <p class="card-text">Longitude</p>
                                 <p class="card-text">Latitude</p>
                              </div>
                              <div class="col-8">
                                 <p class="card-text">: <a href="@Model.GMapLink" class="btn btn-sm btn-primary">Click
                                       ME!</a>
                                 </p>
                                 <p class="card-text">: @Model.Longitude</p>
                                 <p class="card-text">: @Model.Latitude</p>
                              </div>
                           </div>
                        </div>
                        <div class="d-flex justify-content-end">
                           <div class="col-4">
                              <div class="row">
                                 <div class="col-6">
                                    <h5 class="card-text">Ketua Residence</h5>
                                 </div>
                                 <div class="col-6">
                                    <h5 class="card-text">: @Model.PersonInChargeName</h5>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--end::Body-->
            </div>

            <!--end::Statistics-->
         </div>
         <!--end::Body-->
      </div>
      <!--end::About card-->
   </div>
   <!--end::Post-->
</div>
