@model Trisatech.KampDigi.Application.Models.HouseModel
@{
   ViewData["Title"] = "List Rumah";
   ViewData["Menu"] = "Rumah";
   var userRole = Context.User.IsInRole("Admin");
   Layout = "_BaseTemplate";
}

<div class="card card-xxl-stretch mb-5 mb-xl-8">
   <!--begin::Header-->
   <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
         <span class="card-label fw-bolder fs-3 mb-1">@ViewData["Title"]</span>
      </h3>
   </div>
   <!--end::Header-->
   <!--begin::Body-->
   <!--begin::Card-->
   <div class="card">
      <!--begin::Card header-->
      <div class="card-header border-0 pt-6">
         <!--begin::Card title-->
         <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
               <!--begin::Svg Icon | path: icons/duotone/General/Search.svg-->
               <span class="svg-icon svg-icon-1 position-absolute ms-6">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                     height="24px" viewBox="0 0 24 24" version="1.1">
                     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path
                           d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                           fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                        <path
                           d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                           fill="#000000" fill-rule="nonzero"></path>
                     </g>
                  </svg>
               </span>
               <!--end::Svg Icon-->
               <input type="text" data-kt-user-table-filter="search"
                  class="form-control form-control-solid w-250px ps-14" placeholder="Search Nomer Rumah">
            </div>
            <!--end::Search-->
         </div>
         <!--begin::Card title-->
         <!--begin::Card toolbar-->
         <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
               <!--begin::Add user-->
               <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
                  title="Klik untuk menambah keterangan rumah">
                  <button type="button" class="btn btn-sm btn-light-primary b-modal" data-bs-toggle="modal"
                     data-bs-target="#modalCreate">
                     <!--begin::Svg Icon | path: assets/media/icons/duotone/Home/Home2.svg-->
                     <span class="svg-icon svg-icon-muted "><svg xmlns="http://www.w3.org/2000/svg" width="24"
                           height="24" viewBox="0 0 24 24" fill="none">
                           <path
                              d="M21.4622 10.699C21.4618 10.6986 21.4613 10.6981 21.4609 10.6977L13.3016 2.53955C12.9538 2.19165 12.4914 2 11.9996 2C11.5078 2 11.0454 2.1915 10.6974 2.5394L2.54246 10.6934C2.53971 10.6961 2.53696 10.699 2.53422 10.7018C1.82003 11.42 1.82125 12.5853 2.53773 13.3017C2.86506 13.6292 3.29739 13.8188 3.75962 13.8387C3.77839 13.8405 3.79732 13.8414 3.81639 13.8414H4.14159V19.8453C4.14159 21.0334 5.10833 22 6.29681 22H9.48897C9.81249 22 10.075 21.7377 10.075 21.4141V16.707C10.075 16.1649 10.516 15.7239 11.0582 15.7239H12.941C13.4832 15.7239 13.9242 16.1649 13.9242 16.707V21.4141C13.9242 21.7377 14.1866 22 14.5102 22H17.7024C18.8909 22 19.8576 21.0334 19.8576 19.8453V13.8414H20.1592C20.6508 13.8414 21.1132 13.6499 21.4613 13.302C22.1786 12.5844 22.1789 11.4171 21.4622 10.699V10.699Z"
                              fill="#00B2FF" />
                        </svg></span>
                     <!--end::Svg Icon--> Create New
                  </button>
               </div>
               <!--end::Add user-->
            </div>
            <!--end::Toolbar-->
            <!--begin::Group actions-->
            <div class="d-flex justify-content-end align-items-center d-none" data-kt-user-table-toolbar="selected">
               <div class="fw-bolder me-5">
                  <span class="me-2" data-kt-user-table-select="selected_count"></span>Selected
               </div>
               <button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected">Delete
                  Selected</button>
            </div>
            <!--end::Group actions-->
         </div>
         <!--end::Card toolbar-->
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
         <!--begin::Table-->
         <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="table-responsive">
               <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_table_users"
                  role="grid">
                  <!--begin::Table head-->
                  <thead>
                     <!--begin::Table row-->
                     <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0" role="row">
                        <th class="w-10px pe-2 sorting_disabled" rowspan="1" colspan="1" style="width: 29.25px;"
                           aria-label="">
                           <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                              <input class="form-check-input" type="checkbox" data-kt-check="true"
                                 data-kt-check-target="#kt_table_users .form-check-input" value="1">
                           </div>
                        </th>
                        <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1"
                           colspan="1" style="width: 257.783px;" aria-label="User: activate to sort column ascending">No
                           Rumah</th>
                        <th class="min-w-125px sorting text-center" tabindex="0" aria-controls="kt_table_users"
                           rowspan="1" colspan="1" style="width: 145.317px;"
                           aria-label="Telephone: activate to sort column ascending">Status</th>
                        <th class="min-w-125px sorting text-center" tabindex="0" aria-controls="kt_table_users"
                           rowspan="1" colspan="1" style="width: 145.3px;"
                           aria-label="Gender: activate to sort column ascending">Tipe</th>
                        @if (userRole)
                        {
                           <th class="text-end min-w-100px sorting_disabled text-center" rowspan="1" colspan="1"
                           style="width: 113.533px;" aria-label="Actions">Actions</th>
                        }
                     </tr>
                     <!--end::Table row-->
                  </thead>
                  <!--end::Table head-->
                  <!--begin::Table body-->
                  <tbody class="text-gray-600 fw-bold">
                     @foreach (var item in ViewBag.DaftarRumah)
                     {
                        <tr class="odd">
                           <!--begin::Checkbox-->
                        <td>
                              <div class="form-check form-check-sm form-check-custom form-check-solid">
                                 <input class="form-check-input" type="checkbox" value="1">
                              </div>
                           </td>
                           <!--end::Checkbox-->
                           <!--begin::User=-->
                        <td class="d-flex align-items-center">
                              <!--begin:: Avatar -->
                           <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                              <div class="symbol-label">
                                 <div class="symbol-label fs-3 bg-light-danger text-danger">@item.Number
                                 </div>
                                 @*<img src="assets/media/avatars/150-1.jpg" alt="Emma Smith" class="w-100" />*@
                              </div>
                           </div>
                           <!--end::Avatar-->
                        </td>
                           <!--end::User=-->
                           <!--begin::Role=-->
                           @if (item.Status == Trisatech.KampDigi.Domain.Entities.HouseStatus.Occupied)
                           {
                              <td class="text-center">Dimiliki</td>
                           }
                           else if (item.Status == Trisatech.KampDigi.Domain.Entities.HouseStatus.Empty)
                           {
                              <td class="text-center">Kosong</td>
                           }
                           else
                           {
                              <td class="text-center">Disewakan</td>
                           }
                           @if (item.Type == Trisatech.KampDigi.Domain.Entities.HouseType.Residence)
                           {
                              <td class="text-center">Bangunan Hunian</td>
                           }
                           else if (item.Type == Trisatech.KampDigi.Domain.Entities.HouseType.Business)
                           {
                              <td class="text-center">Tempat Bisnis</td>
                           }
                           else
                           {
                              <td class="text-center">Lahan Kosong</td>
                           }
                           @if (userRole)
                           {
                              <td class="text-center">
                                 <a asp-action="Detail" asp-route-Id="@item.Id" class="btn btn-icon btn-info" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Klik untuk Detail">
                                    <!--begin::Svg Icon | path: assets/media/icons/duotone/Code/Info-circle.svg-->
                                    <span class="svg-icon">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                          <circle fill="#ffffff" opacity="0.3" cx="12" cy="12" r="10" />
                                          <rect fill="#ffffff" x="11" y="10" width="2" height="7" rx="1" />
                                          <rect fill="#ffffff" x="11" y="7" width="2" height="2" rx="1" />
                                       </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                 </a>
                                 <button type="button" data-id="@item.Id" class="btn btn-icon btn-warning b-edit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Klik untuk Edit">
                                    <span class="svg-icon"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
                                    viewBox="0 0 20 20" version="1.1">
                                          <path
                                       d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
                                       fill="#ffffff" fill-rule="nonzero"
                                       transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
                                          <rect fill="#ffffff" opacity="0.3" x="5" y="20" width="15" height="2" rx="1" />
                                       </svg></span>
                                 </button>
                                 <button type="button" data-id="@item.Id" class="btn btn-icon btn-danger b-hapus" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Klik untuk Hapus">
                                    <!--begin::Svg Icon | path: assets/media/icons/duotone/General/Trash.svg-->
                              <span class="svg-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px"
                                    viewBox="0 0 24 24" version="1.1">
                                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                             <rect x="0" y="0" width="24" height="24" />
                                             <path
                                          d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                          fill="#ffffff" fill-rule="nonzero" />
                                             <path
                                          d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                          fill="#ffffff" opacity="0.3" />
                                          </g>
                                       </svg></span>
                                    <!--end::Svg Icon-->
                           </button>
                              </td>

                           }
                        </tr>
                     }
                  </tbody>
                  <!--end::Table body-->
               </table>
            </div>
            <div class="row">
               <div
                  class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
               </div>
               <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                  <div class="dataTables_paginate paging_simple_numbers" id="kt_table_users_paginate">
                     <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="kt_table_users_previous"><a href="#"
                              aria-controls="kt_table_users" data-dt-idx="0" tabindex="0" class="page-link"><i
                                 class="previous"></i></a></li>
                        <li class="paginate_button page-item active"><a href="#" aria-controls="kt_table_users"
                              data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="kt_table_users"
                              data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="kt_table_users"
                              data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                        <li class="paginate_button page-item next" id="kt_table_users_next"><a href="#"
                              aria-controls="kt_table_users" data-dt-idx="4" tabindex="0" class="page-link"><i
                                 class="next"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!--end::Table-->
      </div>
      <!--end::Card body-->
   </div>
   <!--end::Card-->
   <!--begin::Body-->
</div>

<div class="page d-flex flex-row flex-column-fluid">
   <!--begin::Wrapper-->
   <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
      <!--begin::Container-->
      <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container">
         <!--begin::Post-->
         <div class="content flex-row-fluid" id="kt_content">
            <!--begin::Modal - Create-->
            <div class="modal fade" id="modalCreate" tabindex="-1" aria-hidden="true">
               <!--begin::Modal dialog-->
               <div class="modal-dialog modal-dialog-centered mw-650px">
                  <!--begin::Modal content-->
                  <div class="modal-content rounded">
                     <!--begin::Modal header-->
                     <div class="modal-header pb-0 border-0 justify-content-end">
                        <!--begin::Close-->
                        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                           <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                           <span class="svg-icon svg-icon-1">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                 <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                    fill="#000000">
                                    <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                    <rect fill="#000000" opacity="0.5"
                                       transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                                       x="0" y="7" width="16" height="2" rx="1" />
                                 </g>
                              </svg>
                           </span>
                           <!--end::Svg Icon-->
                        </div>
                        <!--end::Close-->
                     </div>
                     <!--begin::Modal header-->
                     <!--begin::Modal body-->
                     <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                        <!--begin:Form-->
                        <form id="createForm" asp-action="Create" method="post" class="form">
                           <!--begin::Heading-->
                           <input type="hidden" name="ResidenceId" value="@ViewBag.ResidenceId">
                           <div class="mb-13 text-center">
                              <!--begin::Title-->
                              <h1 class="mb-3">Input Data Bangunan dan Lahan</h1>
                              <!--end::Title-->
                              <!--begin::Description-->
                              <div class="text-gray-400 fw-bold fs-5">Di
                                 <a href="#" class="fw-bolder link-primary">Kampung Digital</a>.
                              </div>
                              <!--end::Description-->
                           </div>
                           <!--end::Heading-->
                           <!--begin::Input group-->
                           <div class="d-flex flex-column mb-8 fv-row">
                              <!--begin::Label-->
                              <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                 <span class="required">Nomor Rumah</span>
                                 <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                    title="Masukan Nomer Rumah Ditinggali"></i>
                              </label>
                              <!--end::Label-->
                              <input type="text" class="form-control form-control-solid" placeholder="Nomer Rumah"
                                 name="Number" />
                              <input type="hidden" name="Id" />
                           </div>
                           <!--end::Input group-->
                           <!--begin::Input group-->
                           <div class="row g-9 mb-8">
                              <!--begin::Col-->
                              <div class="col-md-6 fv-row">
                                 <label class="required fs-6 fw-bold mb-2">Tipe</label>
                                 <select name="Type" class="form-select form-select-solid" data-control="select2"
                                    data-hide-search="true" data-placeholder="Tipe Bangunan">
                                    <option value="@Trisatech.KampDigi.Domain.Entities.HouseType.Business">Bangunan
                                       Bisnis</option>
                                    <option value="@Trisatech.KampDigi.Domain.Entities.HouseType.EmptyLand">Lahan Kosong
                                    </option>
                                    <option value="@Trisatech.KampDigi.Domain.Entities.HouseType.Residence">Rumah Hunian
                                    </option>
                                 </select>
                              </div>
                              <!--end::Col-->
                              <!--begin::Col-->
                              <div class="col-md-6 fv-row">
                                 <label class="required fs-6 fw-bold mb-2">Status</label>
                                 <select name="Status" class="form-select form-select-solid" data-control="select2"
                                    data-hide-search="true" data-placeholder="Status Bangunan">
                                    <option value="@Trisatech.KampDigi.Domain.Entities.HouseStatus.Empty">Masih Kosong
                                    </option>
                                    <option value="@Trisatech.KampDigi.Domain.Entities.HouseStatus.Occupied">Dimiliki
                                    </option>
                                    <option value="@Trisatech.KampDigi.Domain.Entities.HouseStatus.Rented">Disewa
                                    </option>
                                 </select>
                              </div>
                              <!--end::Col-->
                           </div>
                           <!--end::Input group-->
                           <!--begin::Input group-->
                           <div class="d-flex flex-column mb-8 fv-row">
                              <!--begin::Label-->
                              <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                 <span class="required">No Urut Rumah</span>
                                 <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                    title="Nomor urut rumah berdasarkan lama kependudukan, urutan dimulai dari 00"></i>
                              </label>
                              <!--end::Label-->
                              <input type="text" class="form-control form-control-solid" name="Order"
                                 placeholder="001" />
                           </div>
                           <!--end::Input group-->
                           <!--begin::Actions-->
                           <div class="text-center">
                              <button data-bs-dismiss="modal" class="btn btn-white me-3">Cancel</button>
                              <button type="submit" class="btn btn-primary b-submit">
                                 <span class="indicator-label">Submit</span>
                                 <span class="indicator-progress">Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                              </button>
                           </div>
                           <!--end::Actions-->
                        </form>
                        <!--end:Form-->
                     </div>
                     <!--end::Modal body-->
                  </div>
                  <!--end::Modal content-->
               </div>
               <!--end::Modal dialog-->
            </div>
            <!--end::Modal - Create-->

         </div>
         <!--end::Post-->
      </div>
      <!--end::Container-->
   </div>
   <!--end::Wrapper-->
</div>


@section Scripts {
<script type="text/javascript">
   $(document).ready(function () {

      toastr.options = {
         "closeButton": false,
         "debug": false,
         "newestOnTop": false,
         "progressBar": false,
         "positionClass": "toast-top-right",
         "preventDuplicates": false,
         "onclick": null,
         "showDuration": "300",
         "hideDuration": "1000",
         "timeOut": "5000",
         "extendedTimeOut": "1000",
         "showEasing": "swing",
         "hideEasing": "linear",
         "showMethod": "fadeIn",
         "hideMethod": "fadeOut"
      };

      $("#createForm").submit(function (e) {
         event.preventDefault();
         $.ajax({
            url: $(this).attr("action"),
            type: "post",
            data: $(this).serialize(),
            dataType: "json",
            success: function (response) {
               if (response.success) {
                  toastr.success(response.message);
                  window.location.reload(true);
               } else {
                  toastr.error(response.message);
               }
            }
         })
      });

      $(".b-edit").on('click', function (e) {
         let id = $(this).attr("data-id");
         $.ajax({
            url: "/House/Edit",
            type: "get",
            data: { id: id },
            dataType: "json",
            success: function (response) {
               if (response.success) {
                  $("input[name='Id']").val(response.id);
                  $("input[name='ResidenceId']").val(response.residenceId);
                  $("input[name='Number']").val(response.number);
                  $("input[name='Order']").val(response.order);
                  $("select[name='Type']").val(response.type).change();
                  $("select[name='Status']").val(response.status).change();
                  $("#createForm").attr('action', '/House/EditRumah');
                  $(".b-modal").trigger('click');
               } else {
                  console.log(response.message);
               }
            }
         })
      })

      $(".b-hapus").on('click', function (e) {
         let id = $(this).attr("data-id");
         Swal.fire({
            title: 'Hapus Produk dari keranjang?',
            showDenyButton: true,
            confirmButtonText: 'Tidak',
            denyButtonText: `Ya`,
         }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (!result.isConfirmed) {
               $.ajax({
                  url: "/House/Delete",
                  type: "post",
                  data: { id: id },
                  dataType: "json",
                  success: function (response) {
                     if (response.success) {
                        console.log(response.message);
                        window.location.reload(true);
                     } else {
                        console.log(response.message);
                     }
                  }
               })
            } else if (result.isDenied) {
               Swal.fire('Changes are not saved', '', 'info')
            }
         })
      });

   });
</script>
}
