@model IEnumerable<Trisatech.KampDigi.Application.Models.CommentModel>

@{
    ViewData["Title"] = "Comment";
    Layout = "_BaseTemplate";
    var i = 0;
    var j = 0;

}

<!--begin::Feeds Widget 3-->
<div class="card mb-5 mb-xl-8">
    <!--begin::Body-->
    <div class="card-body pb-0">

        <!--begin::Header-->
        <div class="d-flex align-items-center mb-3">
            <!--begin::User-->
            <div class="d-flex align-items-center flex-grow-1">
                <!--begin::Avatar-->
                <div class="symbol symbol-45px me-5">
                    <img src="~/images/avatar.jpg" alt="" />
                </div>
                <!--end::Avatar-->
                <!--begin::Info-->

                <div class="d-flex flex-column">
                    <p href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">@ViewBag.Name</p>
                    <p href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">@ViewBag.Title | 
                        @if (ViewBag.UpdatedDate != null)
                        {
                            <span>Update : @ViewBag.UpdatedDate</span>
                        }
                        else
                        {
                            <span>Create : @ViewBag.CreatedDate</span>
                        }
                    </p>
                    
                </div>
                <!--end::Info-->
            </div>
            <!--end::User-->
        </div>
        <!--end::Header-->
        <!--begin::Post-->
        <div class="mb-7">
            <span class="text-gray-400 fw-bold">@ViewBag.PostSubject</span>
            <!--begin::Text-->
            <div class="text-gray-800 mb-5">
                @ViewBag.Desc</div>
            <!--end::Text-->
        </div>
        <!--end::Post-->
        <!--begin::Replies-->
        <div class="mb-7 ps-10">
            <div id="viewComment"></div>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    j += 1;
                            <!--begin::Reply-->
                            <div class="d-flex mb-5">
                                <!--begin::Avatar-->
                <div class="symbol symbol-45px me-5">
                                    <img src="~/images/aang.jpg" alt="" />
                                </div>
                                <!--end::Avatar-->
                                <!--begin::Info-->
                <div class="d-flex flex-column flex-row-fluid">
                                    <!--begin::Info-->
                    <div class="d-flex align-items-center flex-wrap mb-1">
                                        <!--begin::Comment-->
                                            <span class="text-gray-800 fs-7 fw-normal pt-1">@item.Desc</span>
                                        <!--end::Comment-->

                                        <div class="ms-auto text-gray-400">
                                            <button type="button" id=@($"btnDelete-{j}") class="text-hover-primary" data-id="@item.Id">
                                                <!--begin::Svg Icon | path: assets/media/icons/duotone/Files/Deleted-file.svg-->
                                <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <path
                                                d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path
                                                d="M10.5857864,13 L9.17157288,11.5857864 C8.78104858,11.1952621 8.78104858,10.5620972 9.17157288,10.1715729 C9.56209717,9.78104858 10.1952621,9.78104858 10.5857864,10.1715729 L12,11.5857864 L13.4142136,10.1715729 C13.8047379,9.78104858 14.4379028,9.78104858 14.8284271,10.1715729 C15.2189514,10.5620972 15.2189514,11.1952621 14.8284271,11.5857864 L13.4142136,13 L14.8284271,14.4142136 C15.2189514,14.8047379 15.2189514,15.4379028 14.8284271,15.8284271 C14.4379028,16.2189514 13.8047379,16.2189514 13.4142136,15.8284271 L12,14.4142136 L10.5857864,15.8284271 C10.1952621,16.2189514 9.56209717,16.2189514 9.17157288,15.8284271 C8.78104858,15.4379028 8.78104858,14.8047379 9.17157288,14.4142136 L10.5857864,13 Z"
                                                fill="#000000" />
                                                        </g>
                                                    </svg></span>
                                                <!--end::Svg Icon-->
                            </button>


                                        </div>
                                    </div>
                                    <!--end::Info-->
                                    
                </div>
                                <!--end::Info-->
            </div>
                            <!--end::Reply-->

                }
            }
        </div>
        <!--end::Replies-->
        <!--begin::Separator-->
        <div class="separator mb-4"></div>
        <!--end::Separator-->
          <form class="position-relative mb-6" asp-action="Create" asp-controller="Comment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="text" id="IdPost" name="PostId" value="@ViewBag.Thread" hidden>
            <input class="form-control border-0 p-0 pe-10 resize-none min-h-25px" data-kt-autosize="true" rows="1"
                placeholder="Your Comment.." id="IdComment" name="Id">
            <div class="position-absolute top-0 end-0 me-n5">
                <button id="btnComment" type="button">
                    <span class="btn btn-icon btn-sm btn-active-color-primary ps-0">
                        <!--begin::Svg Icon | path: assets/media/icons/duotone/Communication/Sending.svg-->
                        <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <path
                                    d="M8,13.1668961 L20.4470385,11.9999863 L8,10.8330764 L8,5.77181995 C8,5.70108058 8.01501031,5.63114635 8.04403925,5.56663761 C8.15735832,5.31481744 8.45336217,5.20254012 8.70518234,5.31585919 L22.545552,11.5440255 C22.6569791,11.5941677 22.7461882,11.6833768 22.7963304,11.794804 C22.9096495,12.0466241 22.7973722,12.342628 22.545552,12.455947 L8.70518234,18.6841134 C8.64067359,18.7131423 8.57073936,18.7281526 8.5,18.7281526 C8.22385763,18.7281526 8,18.504295 8,18.2281526 L8,13.1668961 Z"
                                    fill="#000000" />
                                <path
                                    d="M4,16 L5,16 C5.55228475,16 6,16.4477153 6,17 C6,17.5522847 5.55228475,18 5,18 L4,18 C3.44771525,18 3,17.5522847 3,17 C3,16.4477153 3.44771525,16 4,16 Z M1,11 L5,11 C5.55228475,11 6,11.4477153 6,12 C6,12.5522847 5.55228475,13 5,13 L1,13 C0.44771525,13 6.76353751e-17,12.5522847 0,12 C-6.76353751e-17,11.4477153 0.44771525,11 1,11 Z M4,6 L5,6 C5.55228475,6 6,6.44771525 6,7 C6,7.55228475 5.55228475,8 5,8 L4,8 C3.44771525,8 3,7.55228475 3,7 C3,6.44771525 3.44771525,6 4,6 Z"
                                    fill="#000000" opacity="0.3" />
                            </svg></span>
                        <!--end::Svg Icon-->
                    </span>
                </button>
            </div>
        </form>

        <form asp-action="delete" method="post">
            <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="pos_middle">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body" style="padding: 20px 25px;">
                                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                                <h4 class="text-center font-grey-gallery" style="font-weight: 600;">Are you sure to delete this item?</h4>
                                <br />
                                <div class="row">
                                    <input type="hidden" id="itemId" name="Id" />
                                    <input type="hidden" id="itemIdPost" name="PostId" />
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-danger btn-block green uppercase"
                                            data-backdrop="static" data-keyboard="false">Yes</button>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-block red uppercase" data-backdrop="static"
                                            data-keyboard="false" data-dismiss="modal">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>

    </div>
    <!--end::Body-->
</div>

<!--end::Feeds Widget 3-->

@section Scripts {
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnComment").click(function () {
            var komentar = $("#IdComment").val();
            var idPost = $("#IdPost").val();

            console.log(komentar);
            console.log(idPost)

            var request = {
                PostId: idPost,
                Desc: komentar
            }

            var requestComment = $.ajax({
                url: "../Create/" + idPost,
                method: "POST",
                data: request,
            }).done(function (response) {
                @* $("#viewComment").append(
                        ' <div class="d-flex mb-5" id="viewComment">' +
                        '<div class="symbol symbol-45px me-5">' +
                        '<img src="../../images/aang.jpg" alt="" />' +
                        '</div>' +
                        '<div class="d-flex flex-column flex-row-fluid">' +
                        '<div class="d-flex align-items-center flex-wrap mb-1">' +
                        '<a href="#" class="text-gray-800 text-hover-primary fw-bolder me-2">Alice Danchik</a>' +

                        '<div class="ms-auto text-gray-400">' +
                        '<button class="" class="text-hover-primary">' +
                        '<span class="svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">' +
                        '<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">' +
                        '<polygon points="0 0 24 0 24 24 0 24" />' +
                        '<path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />' +
                        '<path d="M10.5857864,13 L9.17157288,11.5857864 C8.78104858,11.1952621 8.78104858,10.5620972 9.17157288,10.1715729 C9.56209717,9.78104858 10.1952621,9.78104858 10.5857864,10.1715729 L12,11.5857864 L13.4142136,10.1715729 C13.8047379,9.78104858 14.4379028,9.78104858 14.8284271,10.1715729 C15.2189514,10.5620972 15.2189514,11.1952621 14.8284271,11.5857864 L13.4142136,13 L14.8284271,14.4142136 C15.2189514,14.8047379 15.2189514,15.4379028 14.8284271,15.8284271 C14.4379028,16.2189514 13.8047379,16.2189514 13.4142136,15.8284271 L12,14.4142136 L10.5857864,15.8284271 C10.1952621,16.2189514 9.56209717,16.2189514 9.17157288,15.8284271 C8.78104858,15.4379028 8.78104858,14.8047379 9.17157288,14.4142136 L10.5857864,13 Z" fill="#000000" />' +
                        '</g>' +
                        '</svg></span>' +
                        '</button>' +
                        '</div>' +
                        '</div>' +
                        '<span class="text-gray-800 fs-7 fw-normal pt-1">' + komentar + '</span>' +
                        '</div>'
                    ); *@
                window.location.reload();
            }).fail(function (jqXHR, textStatus) {
                alert("Maaf terdapat kesalahan, silakan anda masukkan kembali komentar anda");
            });
        });


        @foreach (var item in Model)
        {
                    i+=1;
            <text>
            $("#btnDelete-@i").click(function () {
                var id = $(this).data('id');
                var idPost = $("#IdPost").val();
                console.log('Id Comment: ' + id);
                //ubah value yang id = itemId yang ada di dalam class .modal-body
                $(".modal-body #itemId").val(id);
                $(".modal-body #itemIdPost").val(idPost);
                //tampilkan modal/dialog
                $("#confirmDelete").modal('show');

            });
            </text>
        }
    });


</script>
}