@model Trisatech.KampDigi.Application.Models.ResidentFamilies.ResidentFamilyModel

@{
   ViewData["Title"] = "Detail Product";
   ViewData["Menu"] = "Product";
   Layout = "_BaseTemplate";
}

<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
									<!--begin::Item-->
									<li class="breadcrumb-item text-white opacity-75">
										<a href="/Home/Index" class="text-white text-hover-primary">Profile</a>
									</li>
									<!--end::Item-->
									<!--begin::Item-->
									<li class="breadcrumb-item">
										<span class="bullet bg-white opacity-75 w-5px h-2px"></span>
									</li>
									<!--end::Item-->
									<!--begin::Item-->
									<li class="breadcrumb-item text-white opacity-75">
                              <a href="/ResidentFamily/Index" class="text-white text-hover-primary">Family</a>
                           </li>
									<!--end::Item-->
									<!--begin::Item-->
									<li class="breadcrumb-item">
										<span class="bullet bg-white opacity-75 w-5px h-2px"></span>
									</li>
									<!--end::Item-->
									<!--begin::Item-->
									<li class="breadcrumb-item text-white opacity-75">Detail</li>
									<!--end::Item-->
</ul>


<div class="card card-flush shadow-sm card-xl">
    <div class="card-header">
         <h3 class="card-title">Family Member </h3>
      </div>
<div class="card-body py-5">
     <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relationship)
        </dd>
        <dt class = "col-sm-2">
           Head Of Family Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadOfFamilyName)
        </dd>
    </dl>
    </div>
</div>